html,
body
  height 100%

body *
  -webkit-font-smoothing antialiased
  font 14px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif

.el-form-item__content
  line-height 35px

.el-input__inner
  height 35px
  line-height 35px

.el-form-item
  margin-bottom 20px

.el-input-number__decrease,
.el-input-number__increase
  height 33px
  line-height 35px

.el-table--border,
.el-table--group
  border-color #999

.el-table--border
  border-right 1px solid #999
  border-bottom 1px solid #999

.el-table td,
.el-table th.is-leaf
  border-color #999

.el-button
	padding 5px 15px

// 默哀样式
.silent-mourning
	filter grayscale(100%)
	filter url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
	transition filter .5s

// 登录页输入框hover类
.login-input-hover-1
	.el-input__inner:hover
		transition border .3s ease
		border-width 2px
		border-color #ff9569

.login-input-hover-2
	.el-input__inner:hover
		transition border .3s ease
		border-width 2px
		border-color #78b5e3
