html,
body
  height 100%

body *
  -webkit-font-smoothing antialiased
  font 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif

.el-form-item__content
  line-height 35px

.el-input__inner
  height 35px
  line-height 35px

.el-form-item
  margin-bottom 20px

.el-input-number__decrease,
.el-input-number__increase
  height 33px
  line-height 35px

.el-table--border,
.el-table--group
  border-color #999

.el-table--border
  border-right 1px solid #999
  border-bottom 1px solid #999

.el-table td,
.el-table th.is-leaf
  border-color #999

.el-button
	padding 5px 15px